.footerContainer{
    box-sizing: border-box;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: rgb(254, 242, 226);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.footerBox{
    height: 80%;
    width: 20%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.box1-part1{
    box-sizing: border-box;
    padding: 5px;
}
.box1-part1 h2{
    margin: 6px 8px 10px 0px;
}
.box1-part1 p{
    margin: 6px 8px 10px 0px;
}
.box1-part2{
    box-sizing: border-box;
    padding: 5px;
    margin-top: 48px;
}

#box2 h2{
    margin: 10px;
}
#box2 p{
    margin: 10px;
}
#box3 h2{
    margin: 10px;
}
#box3 p{
    margin: 10px;
}
.emailSubmit{
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    margin-top: 43px;
}
.subscription h2{
    margin: 10px;
}
.subscription p{
    margin: 10px;
}

.emailInput{
    height: 43px;
    width: 233px;
    margin: 5px;
}
#box4{
    width: 25%;
}
.emailSubmit button{
    background-color: #ff4d30;
    color: white;
    width: 274px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.emailSubmit input{
    width: 264px;
}